@using System.Security.Principal;

@{
    ViewData["Title"] = "Home Page";
}

<ul>
@*        @foreach (var claim in User.Claims)
    {
        <li>
            Type: @claim.Type - Value: @claim.Value<br />
            <ol>
                @foreach (var prop in claim.Properties)
                {
                    <li>
                        Key: @prop.Key - Value: @prop.Value
                    </li>
                }
            </ol>
        </li>

    }*@

    @{
        WindowsIdentity? user = User.Identity as WindowsIdentity;

        if (user?.Groups != null)
        {
            foreach (var group in user.Groups)
            {
                <li>@group.Translate(typeof(NTAccount)).Value</li>
            }
        }
    }
</ul>
